<% include ../Partials/header %>

<div class="container" style="padding-top: 50px;">
	
	Email: <%= user.local.email %> 
	<br>	
	Password: <%= user.local.password %>
	<br>

	<a href="/profile/settings/edit"><button type="button" class="btn btn-danger">Edit settings</button></a>
</div>

<% include ../Partials/footer_tools %>

