<% include header %>

    <div class="container-fluid wrapper">
        <canvas id="canvas" width="1024" height="700"></canvas>
        <div id="chat-container">
          <div id="chat-client-list"></div>
          <div id="chat-window">
          </div>
          <div id="chat-input-container">
            <textarea id="chat-input" placeholder="Type here to chat..." maxlength="255"></textarea>
            <input type="text" id="nick-input" placeholder="Type your name here..." maxlength="20"/>
          </div>
        </div>
    </div>
     <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

<% include footer_tools %>