<% include Partials/header %>
  <style>
    .thumb{
      width: 200px;
      height: 120px;
      border: solid gray 1px;
    }

    .thumbnails{
      
    }

    .thumbnails li{
      list-style: none;
      float: left;
      padding: 10px;
    }

  </style>
  <script>
    function generateThumbnail(dataURL)
    {

    }
  </script>
    <div class="container" id="createroom">
      <div class="row">
         
      </div>
      <form action="/rooms" method="post">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" name="roomName">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-danger btn-lg">Create Room</button>
      </form>
      <div class="thumbnails">
        <h1><%= h1 %></h1>
        <% for(var i = 0; i < roomCollection.length; i++) { %>
          <%if(typeof roomCollection[i].dataURL !== "undefined" && roomCollection[i].dataURL !== null) {%>
            <li>
              <a href= "<%= 'rooms/'+roomCollection[i].roomId %>">
                <img class="thumb" src="<%= roomCollection[i].dataURL %>" />
              </a>
            </li>
          <% } %>
        <% } %>  
      </div>
      
         <!--<form action="/rooms" method="post">
                <button type="submit" class="btn btn-danger btn-lg">Create Random Room</button>
          </form> -->
    </div>
  
  </body>
</html>
