<% include ../Partials/header %>
      <div class="container-fluid content-type-a" id="createroom">
        <div class="container">
          <div class="row row-centered">
            <div class="col-sm-6 col-centered">
              <div class="inner">
                <div class="wat">
                  <h2>404. Sorry.</h2>
                </div>
              </div>
            </div>
          </div><!-- /row -->
        </div><!-- /container -->
      </div><!-- /content-type-a -->
  </body>
</html>
